# 파이썬 표준 입출력함수

### 출력함수
`print(출력할값, sep=구분자, end=종결자)`

In [1]:
print('Jave', 'Python', 'R')

Jave Python R

In [2]:
print('Jave', 'Python', 'R', sep=',')

Jave,Python,R

In [3]:
print('Jave')
print('Python')
print('R')

Jave
Python
R

In [4]:
print('Jave', end=' ')
print('Python', end=' ')
print('R', end=' ')

Jave Python R

In [8]:
print('Python ' * 10)

Python Python Python Python Python Python Python Python Python Python

In [7]:
'Python ' * 10

'Python Python Python Python Python Python Python Python Python Python '

### 문자열 포맷
`'포맷문자열 % (변수)'`

In [24]:
name = '수지'
age = 35
date = '2023-08-01'

In [21]:
fmt = '당신의 이름은 %s 이고, 나이는 %d 이며, 오늘은 %s 입니다.'

fmt % (name, age, date)

'당신의 이름은 수지 이고, 나이는 35 이며, 오늘은 2023-08-01 입니다.'

In [26]:
avg = 99.7654321
fmt = '당신의 평균점수는 %.1f 입니다.' # 소수점 첫째자리까지 계산

fmt % (avg)

'당신의 평균점수는 99.8 입니다.'

In [31]:
price = 123456789
fmt = '핑크 향수의 가격은 %d 입니다.'

fmt % (price) # 콤마 지원 안함 - locale 객체 이용

'핑크 향수의 가격은 123456789 입니다.'

`'포맷문자열.format(변수)'`

In [12]:
fmt = '당신의 이름은 {} 이고, 나이는 {} 이며, 오늘은 {} 입니다.'

fmt.format(name, age, date)

'당신의 이름은 수지 이고, 나이는 35 이며, 오늘은 2023-08-01 입니다.'

In [13]:
fmt = '당신의 이름은 {2} 이고, 나이는 {1} 이며, 오늘은 {0} 입니다.'

fmt.format(name, age, date)

'당신의 이름은 2023-08-01 이고, 나이는 35 이며, 오늘은 수지 입니다.'

In [14]:
fmt = '당신의 이름은 {x} 이고, 나이는 {y} 이며, 오늘은 {z} 입니다.'

fmt.format(z=name, x=age, y=date)

'당신의 이름은 35 이고, 나이는 2023-08-01 이며, 오늘은 수지 입니다.'

In [16]:
avg = 99.7654321
fmt = '당신의 평균점수는 {:.1f} 입니다.'

fmt.format(avg)

'당신의 평균점수는 99.8 입니다.'

In [19]:
price = 123456789
fmt = '핑크 향수의 가격은 {:,} 입니다.'

fmt.format(price)

'핑크 향수의 가격은 123,456,789 입니다.'

`f'포맷문자열'(python 3.6+ 추가)`

In [36]:
fmt = f'당신의 이름은 {name} 이고, 나이는 {age} 이며, 오늘은 {date} 입니다.'

print(fmt)

당신의 이름은 수지 이고, 나이는 35 이며, 오늘은 2023-08-01 입니다.

In [40]:
fmt = f'당신의 평균점수는 {avg:.1f} 입니다.'

print(fmt)

당신의 평균점수는 99.8 입니다.

In [42]:
fmt = f'핑크 향수의 가격은 {price:,} 입니다.'

print(fmt)

핑크 향수의 가격은 123,456,789 입니다.

### 표준입력함수
`input(입력안내문자열)`

In [47]:
name = input('이름은 : ')
age = input('나이는 : ')
date = input('오늘 날짜는 : ')

fmt = f'당신의 이름은 {name} 이고, 나이는 {age} 이며, 오늘은 {date} 입니다.'
print(fmt)

이름은 :  수민
나이는 :  27
오늘 날짜는 :  2023-08-01

당신의 이름은 수민 이고, 나이는 27 이며, 오늘은 2023-08-01 입니다.

### 실습문제
`성적처리프로그램 v1` <br />
* 입력값 : 이름, 국어, 영어, 수학
* 출력값 : 이름, 국어, 영어, 수학 점수, 총점, 평균
* 평균은 소수점 둘째자리까지

In [58]:
name = input('이름 : ')
kor = int(input('국어 점수는 : '))
eng = int(input('영어 점수는 : '))
mat = int(input('수학 점수는 : '))

total = kor + eng + mat  # input 타입만 쓰면 +는 문자열이 붙어지기만 함 ex)101010
avg = total / 3

print('{} 의 총점은 {} 평균은 {:.2f}'.format(name,total,avg))

이름 :  태은
국어 점수는 :  10
영어 점수는 :  10
수학 점수는 :  10

태은 의 총점은 30 평균은 10.00

In [63]:
fmt = f'''이름 : {name}, 국어 : {kor}, 영어 : {eng}, 수학 : {mat}
총점 : {total}, 평균 : {avg:.2f}'''
    
print(fmt)

이름 : 태은, 국어 : 10, 영어 : 10, 수학 : 10
총점 : 30, 평균 : 10.00