# 시퀀스 자료형
* 리스트, 튜플
* 세트
* 딕셔너리

### 리스트
* 동일한 자료형을 가지는 데이터들을 순서대로 관리하는 자료구조
* 데이터 저장시 입력한 순서를 기억
* 리스트에 중복으로 값을 저장할 수 있음

In [1]:
# 리스트 선언 -> 이렇게 쓸 수 있지만 선생님은 비추하는 코드임
a = []
b = [1, 2, 3]            #숫자형 데이터가 저장된 리스트
c = [4, 'abc123', True] # 다양한 자료형으로 구성된 데이터가 저장된 리스트

print(a)
print(b)
print(c)

[]
[1, 2, 3]
[4, 'abc123', True]

In [2]:
# 리스트 인덱싱
# 리스트명[인덱스]
# 인덱스는 0부터 시작 (단, 오른쪽에서 왼쪽으로 갈 때는 -1부터 시작)
d = ['life','is','too','hot']

print(d)
print(d[0], d[3])
print(d[-1], d[-4])

['life', 'is', 'too', 'hot']
life hot
hot life

In [3]:
# 리스트 슬라이싱 - 범위 지정 후 요소 추출
# 리스트명[시작:끝-1:간격]

print(d[0:2])    # 첫번째, 두번째 요소 슬라이싱
print(d[:2])     # 시작이 생략되면 맨 처음 요소부터 슬라이싱
print(d[2:4])    # 세번째, 네번째 요소 슬라이싱
print(d[2:])     # 끝이 생략되면 맨 마지막 요소까지 슬라이싱
print(d[3:1:-1]) # 스텝을 -1로 지정하면 뒤에서부터 요소 슬라이싱
print(d[::-1])   # 요소들을 역순으로 슬라이싱

['life', 'is']
['life', 'is']
['too', 'hot']
['too', 'hot']
['hot', 'too']
['hot', 'too', 'is', 'life']

In [4]:
# 리스트 연산

e = [1, 3, 5, 7]

print(e * 3)     # 리스트 반복
print(e[0] + 3)  # 리스트 연산

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]
4

In [5]:
# 리스트 요소 추가
# 리스트명.append(값)
# 리스트명.insert(위치, 값)

names = []

names.append('수민')
names.append('민수')
names.append('민희')
print(names)

['수민', '민수', '민희']

In [6]:
names.insert(0, '뉴진스')

print(names)

['뉴진스', '수민', '민수', '민희']

In [7]:
# 리스트 요소 인덱스 확인
# 리스트명.index(값)

print(names.index('수민'))
print(names.index('민희'))

1
3

In [8]:
# 리스트 수정
# 리스트명[인덱스] = 값

names[0] = '블랙핑크'

print(names)

['블랙핑크', '수민', '민수', '민희']

In [9]:
# 리스트 삭제
# 리스트명.remove(값)
# 리스트명.pop()

names.remove('민희')
print(names)

['블랙핑크', '수민', '민수']

In [27]:
names.pop()  # 맨끝 요소 제거

'민수'

In [33]:
# 기타 리스트 함수

print(len(names))
print(names.count('민희'))  # 특정 요소값의 갯수
print('태은' in names)      # 특정 요소값 존재여부

2
0
False

### 실습문제
`성적처리프로그램 v4` <br />
* 입력값 : 이름, 국어, 영어, 수학
* 출력값 : 이름, 국어, 영어, 수학 점수, 총점, 평균, 학점(수우미양가)
* 평균은 소수점 둘째자리까지
* 3명의 학생에 대해 성적처리 수행 (리스트/반복문 이용)

In [47]:
names = []
kors, engs, mats = [], [], []
tots, avgs, grds = [], [], []

In [48]:
for i in range(3):
    name = input('이름 : ')
    kor = int(input('국어 점수는 : '))
    eng = int(input('영어 점수는 : '))
    mat = int(input('수학 점수는 : '))

    names.append(name)
    kors.append(kor)
    engs.append(eng)
    mats.append(mat)

이름 :  수민
국어 점수는 :  80
영어 점수는 :  80
수학 점수는 :  80
이름 :  빵빵
국어 점수는 :  70
영어 점수는 :  70
수학 점수는 :  70
이름 :  옥지
국어 점수는 :  100
영어 점수는 :  100
수학 점수는 :  100

In [50]:
for i in range(3):
    tots.append( kors[i] + engs[i] + mats[i] )
    avgs.append( tots[i] / 3 )
    grds.append( '수' if (90 <= avgs[i] <= 100) else \
         ('우' if (80 <= avgs[i] <= 89) else \
         ('미' if (70 <= avgs[i] <= 79) else \
         ('양' if (60 <= avgs[i] <= 69) else '가'))) )

In [51]:
for i in range(3):
    fmt = f'''이름 : {names[i]}, 국어 : {kors[i]}, 영어 : {engs[i]}, 수학 : {mats[i]}
    총점 : {tots[i]}, 평균 : {avgs[i]:.2f}, 학점 : {grds[i]} '''

    print(fmt)

이름 : 수민, 국어 : 80, 영어 : 80, 수학 : 80
    총점 : 240, 평균 : 80.00, 학점 : 우
이름 : 빵빵, 국어 : 70, 영어 : 70, 수학 : 70
    총점 : 210, 평균 : 70.00, 학점 : 미
이름 : 옥지, 국어 : 100, 영어 : 100, 수학 : 100
    총점 : 300, 평균 : 100.00, 학점 : 수

### 문자열 String
* 하나 이상의 문자들을 순서대로 나열한 것
* 리스트에 사용한 인덱싱과 슬라이싱을 문자열에도 적용가능

In [54]:
str = 'Hello, World!!'

print(str)
print(str[7])
print(str[7:])
print(str[::-1])

Hello, World!!
W
World!!

In [55]:
# 문자열 탐색

for i in range(len(str)):
    print(str[i], end=' ')  # 이건 좀 옛날 방식

H e l l o ,   W o r l d ! !

In [56]:
for c in str:
    print(c, end=' ')

H e l l o ,   W o r l d ! !

In [79]:
str = 'abc123'

print(str.isalpha()) # 모두 문자
print(str.isalnum()) # 문자와 숫자 둘 다

False
True

In [80]:
str = '123456'

print(str.isdecimal()) # 10진수 (일반적인 숫자)
print(str.isdigit())   # 2진수
print(str.isnumeric()) # 얜 뭐임 (isdigit과 함께 좀 더 넓은 범위의 숫자)

False
False

In [81]:
str = '2³'

print(str.isdecimal()) # 10진수
print(str.isdigit())   # 2진수
print(str.isnumeric()) # 얜 뭐임

False
True
True

In [82]:
str = '⅚'

print(str.isdecimal()) # 10진수
print(str.isdigit())   # 2진수
print(str.isnumeric()) # 얜 뭐임

False
False
True

In [1]:
# 사용자로부터 입력받은 문장을 다음과 같이 출력

s1 = input('영어 문장을 입력 : ')

print(f'입력된 문장 길이 : {len(s1)}')
print(f'각 단어의 첫 문자를 대문자로 변환 : {s1.title()}')
print(f'모든 글자를 대문자로 변환 : {s1.upper()}')
print(f"문자열에 a가 몇 번 나타났는가 : {s1.count('a')}")
print(f'입력된 문자열이 모두 문자로만 구성되었는가? : {s1.isalpha()}')
print(f'입력된 문자열이 모두 숫자로만 구성되었는가? : {s1.isdecimal()}')
print(f'입력된 문자열이 모두 대문자 구성되었는가? : {s1.isupper()}')

# isdecimal 은 10진수 isdigit 은 2진수

영어 문장을 입력 :  hi

입력된 문장 길이 : 2
각 단어의 첫 문자를 대문자로 변환 : Hi
모든 글자를 대문자로 변환 : HI
문자열에 a가 몇 번 나타났는가 : 0
입력된 문자열이 모두 문자로만 구성되었는가? : True
입력된 문자열이 모두 숫자로만 구성되었는가? : False
입력된 문자열이 모두 대문자 구성되었는가? : False