# 실습하기 03

### 로또 프로그램 v1

In [26]:
## 다음 조건을 만족하는 복권 발행 프로그램
    # 가. 사용자로부터 복권 숫자 3자리 입력 (yourkey)
    # 나. 변수에 임의의 복권 숫자 3자리를 초기화 (lottokey)
    # 다. 사용자가 입력한 복권 숫자가 모두 일치 : 상금 1백만원 지급
    # 라. 일치하지 않는 경우 : "아쉽지만, 다음 기회를!" 출력

yourkey = int(input('복권번호(3자리숫자)는? '))
lottokey = 379

if (yourkey == lottokey):
    print('축하합니다! 상품 백만원에 당첨되셨습니다!')
else:
    print('아쉽지만, 다음 기회를!')

복권번호는?  379

축하합니다! 상품 백만원에 당첨되셨습니다!

### 로또 프로그램 v2

* 1등 (3개 모두 맞춤) : 상금 100만원
* 2등 (2개 맞춤) : 상금 30만원
* 3등 (1개 맞춤) : 상금 5만원
* 꽝 (0개 맞춤) : 아쉽지만, 다음 기회를!
* 단, 같은 숫자는 연속으로 사용 불가

In [29]:
import random as rnd

In [30]:
rnd.random()

0.2602384346537473

In [98]:
# randrange(start, end-1)
rnd.randrange(1, 45+1)

45

In [121]:
rnd.randrange(111, 999+1)

431

In [209]:
# key 1 : 479
# key 2 : 947

yourkey = input('복권번호(3자리숫자)는? ')
lottokey = str(rnd.randrange(111, 999+1))

복권번호(3자리숫자)는?  368

In [168]:
match = 0

if (lottokey[0] == yourkey[0]) \
    or (lottokey[0] == yourkey[1]) \
    or (lottokey[0] == yourkey[2]): match = match + 1

if (lottokey[1] == yourkey[0]) \
    or (lottokey[1] == yourkey[1]) \
    or (lottokey[1] == yourkey[2]): match = match + 1

if (lottokey[2] == yourkey[0]) \
    or (lottokey[2] == yourkey[1]) \
    or (lottokey[2] == yourkey[2]): match = match + 1

In [ ]:
match = 0

for i in range(3):
    if (lottokey[i] == yourkey[0]) \
        or (lottokey[i] == yourkey[1]) \
        or (lottokey[i] == yourkey[2]): match = match + 1

In [190]:
match = 0

for i in range(3):
    for j in range(3):
        if (lottokey[i] == yourkey[j]): match = match + 1

In [245]:
match = 0

for l in lottokey:
    for y in yourkey:
        if (l == y): match = match + 1

In [319]:
match

1

In [242]:
msg = ''
if match == 3: msg = '상금 100만원'
elif match == 2: msg = '상금 30만원'
elif match == 1: msg = '상금 5만원'
else: msg = '아쉽지만, 다음 기회를!'

print(f'{lottokey} {yourkey} {msg}')

761 368 상금 5만원

### 숫자 맞추기 v1

In [320]:
num1 = rnd.randrange(1,100)
num2 = int(input('숫자(1~100)를 하나 입력하세요 : '))

숫자(1~100)를 하나 입력하세요 :  55

In [321]:
msg = ''

if (num1 < num2): msg = '추측한 숫자가 큽니다'
elif (num1 > num2): msg = '추측한 숫자가 작습니다'
elif (num1 == num2): msg = '빙고! 숫자를 맞췄습니다'

In [322]:
print(f'{num1} {num2} {msg}')

61 55 추측한 숫자가 작습니다

### 숫자 맞추기 v2

In [332]:
num1 = rnd.randrange(1,100)

In [333]:
while True:
    num2 = int(input('숫자(1~100)를 하나 입력하세요 : '))

    if (num1 < num2): msg = '추측한 숫자가 큽니다'
    elif (num1 > num2): msg = '추측한 숫자가 작습니다'
    elif (num1 == num2):
        print('빙고! 숫자를 맞췄습니다')
        break

    print(f'{msg}')

숫자(1~100)를 하나 입력하세요 :  50

추측한 숫자가 작습니다

숫자(1~100)를 하나 입력하세요 :  60

추측한 숫자가 작습니다

숫자(1~100)를 하나 입력하세요 :  70

빙고! 숫자를 맞췄습니다

### 신용카드 은행정보 출력

In [342]:
cardno = input('신용카드 번호(6자리)는? ')

신용카드 번호(6자리)는?  524353

In [343]:
cardbank = ''

if (cardno[:2] == '35'):
    if (cardno[2:] == '6317'): cardbank = 'NH 농협카드'
    elif (cardno[2:] == '6901'): cardbank = '신한카드'
    elif (cardno[2:] == '6912'): cardbank = 'KB 국민카드'
    else: print('잘못된 카드번호입니다!!')
        
elif (cardno[0] == '4'):
    if (cardno[1:] == '04825'): cardbank = '비씨카드'
    elif (cardno[1:] == '38676'): cardbank = '신한카드'
    elif (cardno[1:] == '57973'): cardbank = '국민은행'
    else: print('잘못된 카드번호입니다!!')
        
elif (cardno[0] == '5'):
    if (cardno[1:] == '15594'): cardbank = '신한카드'
    elif (cardno[1:] == '24353'): cardbank = '외환카드'
    elif (cardno[1:] == '40926'): cardbank = '국민은행'
    else: print('잘못된 카드번호입니다!!')
    
else:
    print('잘못된 카드번호입니다!!')

print(cardbank)

외환카드

### 신용카드 은행정보 출력 v2

In [342]:
cardno = input('신용카드 번호(6자리)는? ')

신용카드 번호(6자리)는?  524353

In [347]:
vedors = ['JCB카드', 'JCB카드', 'JCB카드',
          '비자카드', '비자카드', '비자카드',
          '마스터카드', '마스터카드', '마스터카드']
cardbanks = ['NH농협카드', '신한카드', '국민카드', 
             '비씨카드', '신한카드', '국민은행', 
             '신한카드', '외환카드', '국민은행', ]
cardnos = ['356317','356901', '356912',
           '404825','438676','457973',
           '515594','524353','540926']

In [349]:
pos = -1

for i in range(len(cardnos)):
    if (cardno == cardnos[i]):
        pos = i
        break

if pos == -1:
    print('존재하지 않는 카드번호입니다!')
else:
    print(f'{cardno} {vedors[pos]} {cardbanks[pos]}')

524353 마스터카드 외환카드

### 신용카드 은행정보 출력 v3
* python 3.10부터 추가된 match ~ case 사용

In [350]:
cardno = input('신용카드 번호(6자리)는? ')

신용카드 번호(6자리)는?  540926

In [354]:
pos = -1

match(cardno[0]):
    case '3':
        for i in range(3):
            if (cardno == cardnos[i]):
                pos = i
                break

    case '4':
        for i in range(3, 6):
            if (cardno == cardnos[i]):
                pos = i
                break
    case '5':
        for i in range(6, 9):
            if (cardno == cardnos[i]):
                pos = i
                break

if pos == -1:
    print('존재하지 않는 카드번호입니다!')
else:
    print(f'{cardno} {vedors[pos]} {cardbanks[pos]}')

540926 마스터카드 국민은행

### 시간대를 영어로 출력

In [355]:
daytime = input('시간때(영어로)는? ')

시간때(영어로)는?  midnight

In [357]:
result = ''

if   daytime == 'morning hours'                 : result = '아침시간 (7-12)'
elif daytime == 'midday' or daytime == 'noon'   : result = '점심시간 (12-1)'
elif daytime == 'afternoon hours'               : result = '오후 (1-6)'
elif daytime == 'evening hours'                 : result = '저녁시간 (6-9)'
elif daytime == 'night hours'                   : result = '밤시간 (9-12)'
elif daytime == 'midnight'                      : result = '자정시간 (12)'
elif daytime == 'early morning hours'           : result = '새벽시간 (12-5)'
elif daytime == 'small hours'                   : result = '새벽 (1-3)'
elif daytime == 'dawn' or daytime == 'daybreak' : result = '해뜰력 (5-7)'
else: result = '잘못 입력하셨습니다!'

print(f'{daytime} {result}')

midnight 자정시간 (12)

### 시간대를 영어로 출력 v2

In [377]:
daytime = input('시간때(영어로)는? ')

시간때(영어로)는?  dawn

In [378]:
# daytimes = ['morning hours', 'midday / noon', 'afternoon hours',
#           'evening hours', 'night hours', 'midnight',
#           'early morning hours', 'small hours', 'dawn / daybreak']
# result = ['아침시간 (7-12)', '점심시간 (12-1)', '오후 (1-6)', 
#           '저녁시간 (6-9)', '밤시간 (9-12)', '자정시간 (12)', 
#           '새벽시간 (12-5)', '새벽 (1-3)', '해뜰력 (5-7)']


# 선생님코드
daytimes = ['morning hours', '아침시간 (7-12)',
            'midday', '점심시간 (12-1)',
            'noon', '점심시간 (12-1)',
            'afternoon hours', '오후 (1-6)',
            'evening hours', '저녁시간 (6-9)',
            'night hours', '밤시간 (9-12)',
            'midnight', '자정시간 (12)',
            'early morning hours', '새벽시간 (12-5)',
            'small hours', '새벽 (1-3)',
            'dawn', '해뜰력 (5-7)',
            'daybreak', '해뜰력 (5-7)']

In [379]:
# pos = -1

# for i in range(len(daytimes)):
#     if (daytime == daytimes[i]):
#         pos = i
#         break

# if pos == -1:
#     print('잘못 입력하셨습니다!')
# else:
#     print(f'{daytimes[pos]} {result[pos]}')


# 선생님코드
pos = -1

for i in range(0, len(daytimes), 2):
    if (daytime == daytimes[i]):
        pos = i
        break

if pos == -1:
    print('잘못 입력하셨습니다!')
else:
    print(f'{daytime} {daytimes[pos+1]}')

dawn 해뜰력 (5-7)

### 복리 계산
![복리계산](./img/복리계산.png)

In [388]:
account =  25000
rate = 0.06

nums = 0
while True:
    if (account >= 50000): break
    account = account + (account * rate)
    nums = nums + 1

print(f'{nums}년일 때 통장잔액 {account:,.0f}원')

12년일 때 통장잔액 50,305원

In [392]:
account =  25000
rate = 0.06

nums = 0
result = 0
while True:
    result = account * (1 + rate) ** nums
    if (result >= 50000): break
    nums = nums + 1

print(f'{nums}년일 때 통장잔액 {result:,.0f}원')

12년일 때 통장잔액 50,305원

### 구구단 출력 v1

In [399]:
print('\t\tMultiplication Table')
print('      1   2   3   4   5   6   7   8   9')
print('-'*40)
print('1 |   1   2   3   4   5   6   7   8   9')
print('2 |   2   4   6   8  10  12  14  16  18')
print('3 |   3   6   9  12  15  18  21  24  27')
print('4 |   4   8  12  16  20  24  28  32  36')
print('5 |   5  10  15  20  25  30  35  40  45')
print('6 |   6  12  18  24  30  36  42  48  54')
print('7 |   7  14  21  28  35  42  49  56  63')
print('8 |   8  16  24  32  40  48  56  64  72')
print('9 |   9  18  27  36  45  54  63  72  81')

		Multiplication Table
      1   2   3   4   5   6   7   8   9
----------------------------------------
1 |   1   2   3   4   5   6   7   8   9
2 |   2   4   6   8  10  12  14  16  18
3 |   3   6   9  12  15  18  21  24  27
4 |   4   8  12  16  20  24  28  32  36
5 |   5  10  15  20  25  30  35  40  45
6 |   6  12  18  24  30  36  42  48  54
7 |   7  14  21  28  35  42  49  56  63
8 |   8  16  24  32  40  48  56  64  72
9 |   9  18  27  36  45  54  63  72  81

### 구구단 출력 v2

In [411]:
print('\t  Multiplication Table')
print('     1   2   3   4   5   6   7   8   9')
print('-'*40)

for i in range(1, 9+1):
    print(f'1 | {i*1:2}  {i*2:2}  {i*3:2}  {i*4:2}  {i*5:2}  '\
        f'{i*6:2}  {i*7:2}  {i*8:2}  {i*9:2}')

	  Multiplication Table
     1   2   3   4   5   6   7   8   9
----------------------------------------
1 |  1   2   3   4   5   6   7   8   9
1 |  2   4   6   8  10  12  14  16  18
1 |  3   6   9  12  15  18  21  24  27
1 |  4   8  12  16  20  24  28  32  36
1 |  5  10  15  20  25  30  35  40  45
1 |  6  12  18  24  30  36  42  48  54
1 |  7  14  21  28  35  42  49  56  63
1 |  8  16  24  32  40  48  56  64  72
1 |  9  18  27  36  45  54  63  72  81

### 구구단 출력 v3

In [412]:
print('\t  Multiplication Table')
print('     1   2   3   4   5   6   7   8   9')
print('-'*40)

for i in range(1, 9+1):
    print(f'{i} |', end='')
    for j in range(1, 9+1):
        print(f'  {i*1:2}', end='')
    print('')

	  Multiplication Table
     1   2   3   4   5   6   7   8   9
----------------------------------------
1 |   1   1   1   1   1   1   1   1   1
2 |   2   2   2   2   2   2   2   2   2
3 |   3   3   3   3   3   3   3   3   3
4 |   4   4   4   4   4   4   4   4   4
5 |   5   5   5   5   5   5   5   5   5
6 |   6   6   6   6   6   6   6   6   6
7 |   7   7   7   7   7   7   7   7   7
8 |   8   8   8   8   8   8   8   8   8
9 |   9   9   9   9   9   9   9   9   9

### 주민번호 유효성 검사 v1

In [468]:
#jumin = '123456-1234567'
#jumin = '123456-1222331'
jumin = '970908-2117816'

In [448]:
# 주민번호 각 자리값에 미리 정의된 가중치를 곱함

weight1 = int(jumin[0]) * 2
weight2 = int(jumin[1]) * 3
weight3 = int(jumin[2]) * 4
weight4 = int(jumin[3]) * 5
weight5 = int(jumin[4]) * 6
weight6 = int(jumin[5]) * 7
weight7 = int(jumin[7]) * 8
weight8 = int(jumin[8]) * 9
weight9 = int(jumin[9]) * 2
weight10 = int(jumin[10]) * 3
weight11 = int(jumin[11]) * 4
weight12 = int(jumin[12]) * 5

In [449]:
# 계산된 가중치값을 모두 더함

sum = weight1 + weight2 + weight3 + weight4 + weight5 + weight6 + \
    weight7 + weight8 + weight9 + weight10 + weight11 + weight12
sum

225

In [453]:
# 모두 더한 값을 11로 나눠 나머지를 계산하고
# 이것을 11에서 뺌
# 만약, 뺀 결과값이 2자리라면 10으로 나머지 연산

key = 11 - (sum % 11)
key

6

In [455]:
# 최종적으로 계산된 결과값과 
# 주민번호 마지막 자리 값 비교

key == int(jumin[13])

True

### 주민번호 유효성 검사 v2

In [474]:
weights = [2,3,4,5,6,7,8,9,2,3,4,5]
pos = [0,1,2,3,4,5,7,8,9,10,11,12]
sum = 0

In [475]:
for i in range(len(weights)):
    sum = sum + int(jumin[pos[i]]) * weights[i]

In [476]:
key = 11 - (sum % 11)
key == int(jumin[13])

True