### 튜플
* 객체 생성은 ()를 이용
* 리스트와 달리 요소 수정, 요소 삭제 불가

In [3]:
# 튜플 선언

a = ()
b = (1,2,3)
c = (4, 'abc123', False)

print(a)
print(b)
print(c)

()
(1, 2, 3)
(4, 'abc123', False)

In [4]:
d = ('life','is','too','cold')

print(d)
print(d[0], d[3])
print(d[-1], d[-4])

('life', 'is', 'too', 'cold')
life cold
cold life

In [5]:
print(d[:2])
print(d[2:])
print(d[::-1])

('life', 'is')
('too', 'cold')
('cold', 'too', 'is', 'life')

In [6]:
names = ('혜교','지현')

names.append('수지') # 오류 발생! - 지원 불가 (이미 만들어져 있는 곳에 추가할 수 없음)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
names[0] = '블랙핑크'  # 오류 발생! - 지원 불가 (처음에 만들어졌으면 수정 불가)

TypeError: 'tuple' object does not support item assignment

In [18]:
names.remove('혜교')  # 오류 발생! - 지원 불가 (처음에 만들어졌으면 삭제 불가)

AttributeError: 'tuple' object has no attribute 'remove'

### 만약, 튜플을 변경하고 싶다면?
* list함수로 튜플을 리스트로 바꾼 후, 작업을 하고 난 뒤
* tuple 함수로 다시 튜플로 변경해 줌

In [7]:
names = ('혜교','지현')

names = list(names) # 튜플 -> 리스트
names.append('수지')

names = tuple(names) # 리스트 -> 튜플
names

('혜교', '지현', '수지')

### 실습문제

In [131]:
# 2개의 튜플을 각각 생성하고, 이것을 하나의 리스트로 생성
# t1 = (1,2,3,4,5)
# t2 = (6,7,8,9,10)

fruit = ('사과','배','파인애플','포도')
price = (5000,7000,45000,6000)

result = []

In [133]:
# for i in range(len(t1)):
#     result.append(t1[i])
#     result.append(t2[i])

# 선생님 코드
for i in range(len(fruit)):
    result.append(fruit[i])
    result.append(price[i])

In [134]:
# print('1번 튜플 : ', t1)
# print('2번 튜플 : ', t2)
# print('1 + 2번 리스트 : ', result)

# 선생님 코드
print('과일 튜플 : ', t1)
print('가격 튜플 : ', t2)
print('과일 + 가격 리스트 : ', result)

과일 튜플 :  (1, 2, 3, 4, 5)
가격 튜플 :  (6, 7, 8, 9, 10)
과일 + 가격 리스트 :  ['사과', 5000, '배', 7000, '파인애플', 45000, '포도', 6000]

### 세트
* 객체 생성은 {}를 이용
* 리스트와 달리 저장 순서를 기억하지 않고, 중복 삽입 불가

In [10]:
e = {}
f = {1, 2, 3}
g = {'H','e','l','l','o'}

print(e)
print(f)
print(g)

{}
{1, 2, 3}
{'o', 'H', 'e', 'l'}

In [12]:
# set에 저장된 개별 요소에 접근하려면 리스트로의 변환 필요
g2 = list(g)

print(g2[0], g2[3])

o l

In [16]:
# 집합내 모든 요소에 접근하려면 for 함수 사용
# 출력순서는 해쉬코드값에 의해 출력

fruits = {'apple','peach','banana','orange'}

for fruit in fruits:
    print(f'{fruit} : {fruit.__hash__()}')

apple : 2140662838700391200
peach : 2704057508391709152
orange : 327340387747876416
banana : 1801832389819538951

In [21]:
# 데이터 추가
names = set()

names.add('혜교')
names.add('지현')
names.add('수지')

names

{'수지', '지현', '혜교'}

In [23]:
for name in names:
    print(f'{name} {name.__hash__()}')

수지 6643726551891889137
혜교 -351273123368072714
지현 -8878715053597348137

### 실습문제
* 1부터 45사이 임의의 난수 6개를 생성 (중복허용x)
* 리스트와 집합을 이용

In [42]:
import random as rnd

In [101]:
# 리스트
lottos = []

# 반복문에서 변수의 역할이 없을 경우 i 대신 _로 사용가능함
for _ in range(6):
    lottos.append(rnd.randint(1, 45))

lottos

[12, 38, 7, 12, 1, 2]

In [81]:
# 집합
lottos = set()

while len(lottos) <= 5:
    lottos.add(rnd.randint(1, 45))

lottos

{10, 11, 27, 30, 31, 44}

In [94]:
# 리스트 (중복 허용 x)
lottos = []

while len(lottos) <= 5:
    lotto = rnd.randint(1, 45)
    if lotto not in lottos: # 중복된 값이 없다면
        lottos.append(lotto)

lottos

[33, 41, 40, 25, 17, 3]